<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Табло аэропорта</title>
    <link rel="stylesheet" type="text/css" href="../css/airport.css" />
</head>
<body>
    <a href="#x" class="overlay" id="row1"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>88924</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Aer Lingus</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img aer-lingus"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Boeing</span> <span>737-800</span></td>
            </tr>
           <tr>
                <td>аэропорт назначения</td>
                <td>Москва(Домодедово)</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 12:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>регистрация</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <a href="#x" class="overlay" id="row2"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td class="air-departure"><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>S7 1212</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Трансаэро</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img transaero"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Boeing</span> <span>737-800</span></td>
            </tr>
            <tr>
                <td>аэропорт назначения</td>
                <td>Ставрополь(Шпаковское)</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 18:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>по расписанию</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <a href="#x" class="overlay" id="row3"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td class="air-arrival"><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>BA8776</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Aer Lingus</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img aer-lingus"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Woeing</span> <span>7125537-800</span></td>
            </tr>
            <tr>
                <td>аэропорт назначения</td>
                <td>Москва(Домодедово)</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 11:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>ожидание посадки</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <a href="#x" class="overlay" id="row4"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td class="air-departure"><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>S7 1212</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Трансаэро</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img transaero"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Boeing</span> <span>737-800</span></td>
            </tr>
            <tr>
                <td>аэропорт назначения</td>
                <td>Ростов-на-Дону</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 02:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>летит</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <a href="#x" class="overlay" id="row5"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td class="air-arrival"><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>LY 8916</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Aer Lingus</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img aer-lingus"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Zoeing</span> <span>73800</span></td>
            </tr>
            <tr>
                <td>аэропорт назначения</td>
                <td>Сибирь</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 02:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>посадка закончена</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <a href="#x" class="overlay" id="row6"></a>
    <div class="popup">
        <table>
            <tr>
                <td>тип рейса</td>
                <td class="air-arrival"><span class="icon"><span class="airport-d-a"></span></span></td>
            </tr>
            <tr>
                <td>номер рейса</td>
                <td>С71156</td>
            </tr>
            <tr>
                <td>авиакомпания</td>
                <td>Трансаэро</td>
            </tr>
            <tr>
                <td>логотип авиакомпании</td>
                <td><span class="img transaero"></span></td>
            </tr>
            <tr>
                <td>тип воздушного судна</td>
                <td><span>Boeing</span> <span>737-800</span></td>
            </tr>
            <tr>
                <td>аэропорт назначения</td>
                <td>Москва(Домодедово)</td>
            </tr>
            <tr>
                <td>плановое время вылета или прилёта</td>
                <td>15 авг 06:05</td>
            </tr>
            <tr>
                <td>статус рейса</td>
                <td>вылетел</td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td>SU2604/UX3299</td>
            </tr>
        </table>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    показать рейсы на прилет <input type="checkbox" id="sort-arrival" name="arrival" checked />
    показать рейсы на вылет <input type="checkbox" id="sort-departure" name="departure" checked />
    <div id="content-table">
        <table id="airport-board">
            <thead>
                <tr>
                    <th>тип рейса<div>тип рейса</div></th>
                    <th>номер рейса<div>номер рейса</div></th>
                    <th class="hide900">авиакомпания <div>авиакомпания</div></th>
                    <th>логотип авиакомпании <div>логотип авиакомпании </div></th>
                    <th>тип воздушного судна <div>тип воздушного судна</div></th>
                    <th>аэропорт назначения<div>аэропорт назначения</div></th>
                    <th>плановое время вылета или прилёта<div>плановое время вылета или прилёта</div></th>
                    <th>статус рейса<div>статус рейса</div></th>
                    <th>Примечание<div>Примечание</div></th>
                </tr>
            </thead>

            <tbody>
                <tr class="air-arrival">

                    <td><a href="#row1"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row1"></a>88924</td>
                    <td class="hide900"><a href="#row1"></a>Aer Lingus</td>
                    <td>
                        <a href="#row1"></a>
                        <span class="img aer-lingus"></span>
                    </td>
                    <td class="min-word800"><a href="#row1"></a><span>Boeing</span> <span>737-800</span></td>
                    <td><a href="#row1"></a>Москва(Домодедово)</td>
                    <td><a href="#row1"></a>15 авг 12:05</td>
                    <td><a href="#row1"></a>регистрация</td>
                    <td><a href="#row1"></a>SU2604/UX3299</td>
                </tr>
                <tr class="air-departure">
                    <td><a href="#row2"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row2"></a>S7 1212</td>
                    <td class="hide900"><a href="#row2"></a>Трансаэро</td>
                    <td><a href="#row2"></a><span class="img transaero"></span></td>
                    <td class="min-word800"><a href="#row2"></a><span>Boeing</span> <span>737-800</span></td>
                    <td><a href="#row2"></a>Ставрополь(Шпаковское)</td>
                    <td><a href="#row2"></a>15 авг 18:05</td>
                    <td><a href="#row2"></a>по расписанию</td>
                    <td><a href="#row2"></a>SU2604/UX3299</td>
                </tr>
                <tr class="air-arrival">
                    <td><a href="#row3"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row3"></a>BA8776 </td>
                    <td class="hide900"><a href="#row3"></a>Aer Lingus</td>
                    <td><a href="#row3"></a>
                        <span class="img aer-lingus"></span>
                    </td>
                    <td class="min-word800"><a href="#row3"></a><span>Woeing</span> <span>7125537-800</span></td>
                    <td><a href="#row3"></a>Москва(Домодедово)</td>
                    <td><a href="#row3"></a>15 авг 11:05</td>
                    <td><a href="#row3"></a><a href="#row3"></a>ожидание посадки</td>
                    <td><a href="#row3"></a>SU2604/UX3299</td>
                </tr>

                <tr class="air-departure">
                    <td><a href="#row4"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row4"></a>S7 1212</td>
                    <td class="hide900"><a href="#row4"></a>Трансаэро</td>
                    <td><a href="#row4"></a><span class="img transaero"></span></td>
                    <td class="min-word800"><a href="#row4"></a><span>Boeing</span> <span>737-800</span></td>
                    <td><a href="#row4"></a>Ростов-на-Дону</td>
                    <td><a href="#row4"></a>15 авг 02:05</td>
                    <td><a href="#row4"></a>летит</td>
                    <td><a href="#row4"></a>SU2604/UX3299</td>
                </tr>

                <tr class="air-arrival">
                    <td><a href="#row5"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row5"></a>LY 8916</td>
                    <td class="hide900"><a href="#row5"></a>Aer Lingus</td>
                    <td><a href="#row5"></a>
                        <span class="img aer-lingus"></span>
                    </td>
                    <td class="min-word800"><a href="#row5"></a><span>Zoeing</span> <span>73800</span></td>
                    <td><a href="#row5"></a>Сибирь</td>
                    <td><a href="#row5"></a>15 авг 02:05</td>
                    <td><a href="#row5"></a>посадка закончена</td>
                    <td><a href="#row5"></a>SU2604/UX3299</td>
                </tr>

                <tr class="air-arrival">
                    <td><a href="#row6"></a><span class="icon"><span class="airport-d-a"></span></span></td>
                    <td><a href="#row6"></a>С71156</td>
                    <td class="hide900"><a href="#row6"></a>Трансаэро</td>
                    <td><a href="#row6"></a><span class="img transaero"></span></td>
                    <td class="min-word800"><a href="#row6"></a><span>Boeing</span> <span>737-800</span></td>
                    <td><a href="#row6"></a>Москва(Домодедово)</td>
                    <td><a href="#row6"></a>15 авг 06:05</td>
                    <td><a href="#row6"></a>вылетел</td>
                    <td><a href="#row6"></a>SU2604/UX3299</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>